fastapi==0.115.6
uvicorn==0.34.0
opentelemetry-distro==0.50b0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-instrumentation-logging==0.50b0
opentelemetry-instrumentation-system-metrics==0.50b0
